@{
    ViewBag.Title = "Home Page";
}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <h1>Food for Thought</h1>
    <div id="lead">
        </div>
    
<script src="~/Scripts/customscript.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>


        <br /><br />
      <div class="list-inline">  <font class="heading" id="strike">Simulate</font> <font class="heading"  id="disappear" style="display:none">Stimulate </font><font class="heading" > your tastebuds now!</font>
        
    </div>


        @using (Html.BeginForm("Ingredients", "Api"))
        {
            @Html.TextBox("Ingredient1")
            @Html.TextBox("Ingredient2")
            @Html.TextBox("Ingredient3")
            @Html.TextBox("Ingredient4")
            @Html.TextBox("Ingredient5")
            <input type="submit" name="Submit" value="Submit" />
        }

 @*this javascript functions are only specific to this page so I kept them here.*@
<script>
    var showText = function (target, message, index, interval) {
        if (index < message.length) {
            $(target).append(message[index++]);
            setTimeout(function () { showText(target, message, index, interval); }, interval);
        }
    }

    $(function () {

        showText("#lead", "Food for Thought is a project made by people, for people, and nothing but the people. Robots are not allowed to use this", 0, 100);

    });

    $(window).load(function () {
        function show_realvalue() {
            $("#strike").wrap("<strike>");

        };
        window.setTimeout(show_realvalue, 10000); // 5 seconds
    });


    $(window).load(function () {
        function show_realvalue() {
            $('#strike').fadeOut('slow', function () {
                $('#disappear').fadeIn('slow');
            });
        };
        window.setTimeout(show_realvalue, 15000); // 5 seconds
    });

</script>
  