@model _470_Final_AGAIN.Models.User
@{
    ViewBag.Title = "Log in";
}

<link href="~/Content/styles.css" rel="stylesheet" />
<section id="loginForm" style="margin-top:250px;">
    <div id="formContainer">
        @using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { role = "form", @id = "login" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
         
            <a href="#" id="flipToRecover" class="flipLink">Forgot?</a>
                <input type="text" name="report" id="Email" placeholder="Email" />

                <input type="password" name="final" id="Password" placeholder="Password" />

                <input type="submit" name="submit" value="Login" />

               
        }

        @using (Html.BeginForm("Try", "Account", FormMethod.Post, new { role = "form", @id = "recover" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <a href="#" id="flipToLogin" class="flipLink">Forgot?</a>

            <input type="text" name="recoverEmail" id="recoverEmail" value="Email" />
            
            <input type="submit" name="submit" value="Recover" />

        }
      

     
</div>
</section>

   

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/customscript.js"></script>
        }
       
      






@*All the scratch and trash *@

@*<section id="loginForm" style="margin-top:250px;">

    <div id="formContainer">
        @*new {  }

        new {ReturnUrl = ViewBag.ReturnUrl }*@
@*@using (Html.BeginForm("SignIn", "Account", new { User }, FormMethod.Post, new { id = "login" }))*@
@*@using (Html.BeginForm())
    {
       @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<form id="login"  method="post" action=@Url.Action("SignIn", "Account"),new{ Email = Email , Password = Password} >*@
@*<a href = "#" id = "flipToRecover" class="flipLink">Forgot?</a>*@
@*<input type="text" name="report" />
    <input type="text" name="final" />*@
@*<input type="text" name="report" id="Email" placeholder="Email" />
    <input type="password" name="final" id="Password" placeholder="Password" />

    <input type="submit" class="btn btn-default" value="Register" />*@
@*}*@
@*</form>*@


@*<form id="recover" method="post" action="./">

                                <a href="#" id="flipToLogin" class="flipLink">Forgot?</a>

                                <input type="text" name="recoverEmail" id="recoverEmail" value="Email" />
                                <input type="submit" name="submit" value="Recover" />

                            </form>
    </div>
            </section>*@
