@model IEnumerable<_470_Final_AGAIN.Models.TrainingData>

@{
    ViewBag.Title = "Index";
}


<h1> Our Suggestion for you </h1>
        @*<th>
            @Html.DisplayNameFor(model => model.Salty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sweet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meaty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piquant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrepTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowUser)
        </th>
        <th></th>*@
   @foreach (var item in Model)
   {
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-brown">
            <div class="panel-body">
                <i class="fa fa-video-camera fa-5x"></i>
                <h3 style="color:#B71C1C;">
                    @Html.DisplayFor(modelItem => item.Name)
                </h3>
            </div>
            <div class="panel-footer back-footer-brown">
                @{ var url = "http://www.google.com/search?q="; var query = item.Name; }
                <a href="@url+ @query"> See the recepies </a>    

            </div>
        </div>
    </div>
  

                    }
  
        @*<td>
            @Html.DisplayFor(modelItem => item.Salty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sweet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meaty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piquant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrepTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowUser)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })

            @Html.ViewBag.Salty
        </td>*@


